body {
    padding:0;
    margin:0;
    background-color:darkblue;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh
}
#todo-box{
    padding:10px 5px;
    background:#fff;
    border-radius:5px;
    width:500px;
}
#todo-form {
    display:flex;
}
#todo-add {margin-left:10px}
