@model IEnumerable<TodoApp.Models.Todo>
@using (Html.BeginForm())
{
    Html.AntiForgeryToken();
    <div class="form-group" id="todo-form">
        <input type="text" class="form-control" name="TodoTitle"/>
        <input type="submit" value="ADD" class="btn btn-primary" id="todo-add">
    </div>
}
<div>
    <ul id="todo-list">
        @foreach (var item in Model)
        {
            <li>
                <div class="panel panel-default">
                    <div class="panel-heading task">
                        @item.TodoTitle 
                        @Html.ActionLink("Delete", "Delete", new { id = item.TodoId },new {@class = "btn btn-danger" })
                    </div>
                </div>
        
            </li>
        }
        </ul>

</div>